{{ define "main" }}
{{ if not .Params.hidetopnav | default false }}
    <div class="article-nav-outer">
        <div class="article-nav-inner">
            <a class="internal" hyphens="none" href="/blog">← back to blog</a>
        </div>
    </div>
{{ end }}
<h2 class="article-title">{{ .Title | markdownify }}</h2>
<div id="doc">
    <div class="hanging-subtitle">
        {{ if .Params.topic }}
            <p>{{ .Params.topic }}</p>
        {{ end }}
        {{ if .Params.author }}
            <p>by {{ .Params.author }}</p>
        {{ end }}        
        {{ if .Params.date }}
            {{ if .Params.showdate | default true }}
                <p>{{ .Date.Format "2 January 2006" }}</p>
            {{ end }}
        {{ end }}
    </div>
{{ .Content }}
</div>
{{ end }}