@import url("https://use.typekit.net/coq1ltf.css"); // source-serif-pro
@import url("https://use.typekit.net/uwd7war.css"); // source-code-pro
@import url("https://fonts.cdnfonts.com/css/cooper-hewitt"); // Cooper Hewitt

$body-family: "source-serif-pro", "Source Serif 4", serif;
$header-family: "Cooper Hewitt", "Helvetica", sans-serif;
$code-family: "source-code-pro", "Courier", monospace;
$header-weight: 713;

body {
  font-family: $body-family;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-family;
}

h1.index-title {
  font-weight: 714;
}

article h1, article h2, article h3 {
  font-weight: 709;
}

article h4, article h5, article h6 {
  font-weight: 707;
}

.index-intro {
  hyphens: none;
}

pre {
  background-color: none;
  & > code {
    font-family: $code-family;
    font-size-adjust: none;
  }
}

code {
  font-family: $code-family;
  font-size-adjust: ex-height 0.5;
}

table.posts-lists {
  font-family: 'Cooper Hewitt', sans-serif;
  & tr.index-entry {
    font-weight: 707;
    & td.post-title {
      font-size: 1.1rem;
      font-weight: 711;
    }
  }
}

ul li:before {
  content: "→";
}

p a.footnote-ref {
  font-size: 80%;
  margin-top: -1em;
}

p a.footnote-ref:after, p a.footnote-backref:after {
  content: none;
  margin-left: 0;
}
