{{ define "main" }}
{{ if .Site.Params.enable_theme_toggle | default true }}
    <div class="theme-switch">
        <button class="btn-theme-switch" id="btn-theme-toggle" data-umami-event="Toggle mode (index)" onclick="toggleColorScheme()">
            <i class="theme-switch-icon" data-feather="moon"></i>
        </button>
    </div>
{{ end }}
<h1 class="title">{{ .Title | markdownify }}</h1>
<div style="height: 2rem;"></div>
{{ if .Site.Params.intro }}
    <img src="/avatar.png" class="sidenote" alt="avatar" style="width: 5rem; min-width: initial; margin-left: 2rem; margin-top: 1rem;">
    <p class="intro-text">{{ .Site.Params.intro | markdownify }}</p>
    <div style="height: 2.5rem;"></div>
{{ end }}
<div class="sidenote">pages</div>
{{ range .Site.Menus.main }}
    {{- if ne .Name "Home" -}}
    <h3 class="list"><a class="title" href="{{ .URL }}">{{ .Name | lower | markdownify }}</a></h3>
    {{ end }}
{{ end }}
<div style="height: 2.5rem;"></div>
<div class="sidenote">socials</div>
<div class="social-icons">
    {{ if eq .Site.Params.iconsource "tabler" }}
        {{ with .Site.Params.social }}
            {{ range sort . "weight" }}
                <a href="{{ .url }}" {{ .html_attributes | safeHTMLAttr }}>
                    <i class="ti ti-{{ .icon }}" style="font-size: 1.2rem; margin-right: 0.5rem;"></i>
                </a>
            {{ end }}
        {{ end }}
    {{ else if eq .Site.Params.iconsource "simple-icons" }}        
        {{ with .Site.Params.social }}
            {{ range sort . "weight" }}
                <a href="{{ .url }}" {{ .html_attributes | safeHTMLAttr }}>
                    <img class="icon" height="28" width="28" src="https://cdn.simpleicons.org/{{ .icon }}/444"/>
                </a>
            {{ end }}
        {{ end }}
    {{ else if eq .Site.Params.iconsource "fontawesome" }}
        {{ with .Site.Params.social }}
            {{ range sort . "weight" }}
                <a href="{{ .url }}" {{ .html_attributes | safeHTMLAttr }}>
                    <i class="{{ .icon }}"></i>
                </a>
            {{ end }}
        {{ end }}
    {{ else }}
        {{ with .Site.Params.social }}
            {{ range sort . "weight" }}
                <a href="{{ .url }}" {{ .html_attributes | safeHTMLAttr }}>
                    <i data-feather="{{ .icon }}" style="margin-right: 0.5rem;margin-top: 0.5rem;"></i>
                </a>
            {{ end }}
        {{ end }}
    {{ end }}
</div>
{{ end }}
